.speech{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    text-indent: 10px;
}

.direction{
    font-style: inherit;
   font-size: 15px;
   color: black;
   background-color:honeydew;
}

.direction:hover{
    color:bisque;
    background-color:aqua;
}
.ANDREW{
    font-style: italic;
    color: blueviolet;
    background-color: rosybrown;
}
.JOEL{
    font-family: serif;
    color: lavender;
    background-color: rosybrown;

}
.ANDREW:hover{
    text-shadow: 5px 5px 10px blueviolet;
    border: 3px dashed black;
}
.JOEL:hover{
    text-shadow: 5px 5px 10px black;
    border: 3px dashed black;

}
table, th, td {
    border-collapse: collapse;
    border: 5px double black;
    background-color:white;
    padding: 20px;
    text-align: left;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    
    
}
tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}
  
th:nth-child(odd),td:nth-child(odd) {
    background-color: rgba(150, 212, 212, 0.4);
 }
