.speech{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    text-indent: 10px;
}

.direction{
    font-style: inherit;
   font-size: 15px;
   color: black;
   background-color:honeydew;
}

.direction:hover{
    color:bisque;
    background-color:aqua;
}
.ANDREW{
    font-style: italic;
    color: blueviolet;
    background-color: rosybrown;
}
.JOEL{
    font-family: serif;
    color: lavender;
    background-color: rosybrown;

}
.ANDREW:hover{
    text-shadow: 5px 5px 10px blueviolet;
    border: 5px dashed chartreuse;
}
.JOEL:hover{
    text-shadow: 5px 5px 10px black;
    border: 5px dashed chartreuse;

}